
@{
    ViewData["Title"] = "EmailCheck";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1 class="text-center">Reset password</h1>
<p class="text-center">Please Check Your Email to reset your password</p>



