@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ResetPassword</h1>

<form asp-action="ForgetPassword" class="row g-3 my-4">

    <div class="col-12">
        <div class="form-data">
            <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>

    <div class="col-12">
        <button type="submit" name="submitButton" value="SendEmail" class="btn w-100 main-btn">Reset Password Using Email</button>
    </div>

    <div class="col-12">
        <button type="submit" name="submitButton" value="SendSMS" class="btn w-100 main-btn">Reset Password Using PhoneNumber</button>
    </div>
</form>

<footer>
    <p class="text-center small">
        <a asp-action="LogIn" asp-controller="Auth" class="link-secondary text-decoration-none" role="button">
            Back To Login ?
            <i class="fa-solid fa-angle-right"></i>
        </a>
    </p>
</footer>

