@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ResetPassword</h1>


<form asp-Action="ResetPassword" class="row g-3 my-4">

    <div class="col-12">
        <div class="form-group d-none" hidden>
            <input type="text" asp-for="Token" class="form-input" />
        </div>
    </div>
    <div class="col-12">
        <div class="form-group d-none" hidden>
            <input type="email" asp-for="Email" class="form-input" />
        </div>
    </div>
    <div class="col-12">
        <div class="form-data">
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="col-12">
        <div class="form-data">
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
    </div>

    <div asp-validation-summary="All"></div>


    <div class="col-12">
        <button type="submit" class="btn w-100 main-btn">Change Password</button>
    </div>
</form>

<footer>
    <p class="text-center small">
        <a asp-action="LogIn" asp-controller="Auth" class="link-secondary text-decoration-none" role="button">
            Back To Login ?
            <i class="fa-solid fa-angle-right"></i>
        </a>
    </p>
</footer>
